
.container{
width: 80%;
margin: 100px auto;
background: #333;
border-radius:6px;
}

.container input {
    background: transparent;
    border:0;
    font-size:30px;
    color:#fff;
    padding:17px 25px;
    background-size: 3%;
    outline:none;
    background:url(../../images/search.png) #333 no-repeat right 5px center;
    text-overflow: ellipsis;
    width:60%;
}

.suggestions{
    border-top:2px solid #999;

}

.suggestions > div{
    padding: 15px;
    font-size:20px;
    color:#fff;
    border-top: 1px solid #666;
}


.suggestions > div:hover{
    background-color:rgb(117, 167, 224);
}

.search-btn{
    position:absolute;
    background-color:#4d70e2;
    max-height: 50px;
    margin:10px 15px;
    color:#fff;
    padding:17px 17px;
    text-transform:uppercase;
    font-weight: 700;
    font-size: 12px;
    float: left;
    border-radius:999px;
    cursor: pointer;
}